public/**
public
**.osdi
**.ckt.ds
*/**/sim.log
*/**/spectra.raw
*/**/*.so
*/**/*.log
*/**/work.db
*/**/*.o
*/**/*.lo
*/**/*.la
*/**/*.lai
*/**/*.C
*/**/*adms*
*/**/*ams_work
*/**/*dc_annotation
*/**/*ckt_data
*/**/*sp_data
*/**/*.osdi
*/**/*.libs
*/**/*.h
*/**/*.h
*/**/*.latexmk
*/**/*.dvi
*/**/*.dep
*/**/*.out
*/**/*.lst
spectre-circuit_verilog_a.ahdlSimDB/
spectre-circuit_built_in.ahdlSimDB/
spectre-circuit_verilog_a.raw/
spectre-circuit_built_in.raw/
spectre-circuit.ahdlSimDB/
spectre_circuit.ahdlSimDB/
spectre-circuit.raw/
spectre_circuit.raw/
static/processed_images/*
.DS_STORE
